@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    height: 95vh;
    background-image: linear-gradient(
        236.85deg,
        #041832 27.26%,
        #3468a7 96.03%
    );
    font-family: Roboto, sans-serif;
}

.container {
    background-color: #ecf4ff;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    color: #1c1c1c;
    padding: 64px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil-foto {
    border-radius: 50%;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 2.32em;
}

.titulo h2 {
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
